.DS_Store
.idea
.tmp
junit.xml
node_modules
npm-debug.log*
temp
yarn-debug.log*
yarn-error.log*

*.iml
dist
coverage
.env
.svelte-kit

# test files
test/generated
test/e2e/generated

# error files
openapi-ts-error-*
