.DS_Store
.idea
.tmp
junit.xml
node_modules
npm-debug.log*
temp
yarn-debug.log*
yarn-error.log*

# IDE config
.vscode

*.iml
dist
coverage
samples/generated
samples/swagger-codegen-cli-v2.jar
samples/swagger-codegen-cli-v3.jar
.env

# test files
test/generated
test/e2e/generated
