.DS_Store
.cache
.idea
.tmp
junit.xml
node_modules
npm-debug.log*
temp
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

*.iml
dist
coverage
.env
.next
.nuxt
.output
.svelte-kit
.turbo

# test files
.gen/
test/generated
test-output-*

# debug files
openapi-ts-debug-*
# error files
logs
openapi-ts-error-*

# But DO NOT ignore generated snapshots!
!test/__snapshots__/test/generated
!test/__snapshots__/test/generated/**
