**/.changeset/*.md
**/node_modules
**/templates
**/dist
**/.next
**/.nuxt
**/.output
**/.svelte-kit
**/.vitepress/cache
**/.vitepress/dist
**/test/e2e
**/test/generated
**/__snapshots__

**/CHANGELOG.md
pnpm-lock.yaml
