**/.changeset/*.md
**/node_modules
**/templates
**/dist
**/.next
**/.nuxt
**/.output
**/.svelte-kit
**/.vitepress/cache
**/.vitepress/dist
**/test/generated
**/__snapshots__
**/cache
.angular
.gen

**/CHANGELOG.md
pnpm-lock.yaml
