openapi: 3.0.3
info:
  title: Clerk Backend API
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  description: |-
    The Clerk REST Backend API, meant to be accessed by backend servers.

    ### Versions

    When the API changes in a way that isn't compatible with older versions, a new version is released.
    Each version is identified by its release date, e.g. `2025-04-10`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).

    Please see https://clerk.com/docs for more information.
  version: '2025-11-10'
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerk/openapi-specs/blob/main/LICENSE
servers:
  - url: https://api.clerk.com/v1
security:
  - bearerAuth: []
tags:
  - name: Actor Tokens
    description: Allow your users to sign in on behalf of other users.
    externalDocs:
      url: https://clerk.com/docs/authentication/user-impersonation#actor-tokens
  - name: Allow-list / Block-list
    description: |-
      Allow-lists and Block-lists allow you to control who can sign up or sign in
      to your application, by restricting access based on the user's email
      address or phone number.
    externalDocs:
      url: https://clerk.com/docs/authentication/allowlist
  - name: Clients
    description: The Client object tracks sessions, as well as the state of any sign in and sign up attempts, for a given device.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/client
  - name: Billing
    description: Billing-related endpoints for managing statements and payment attempts.
    externalDocs:
      url: https://clerk.com/docs/billing/overview
  - name: Domains
    description: Domains represent each instance's URLs and DNS setup.
  - name: Email Addresses
    description: A user can be associated with one or more email addresses, which allows them to be contacted via email.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/types/email-address
  - name: Email & SMS Templates
    description: Email & SMS templates allow you to customize the theming and wording of emails & SMS messages that are sent by your instance.
    externalDocs:
      url: https://clerk.com/docs/authentication/email-sms-templates
  - name: Instance Settings
    description: Modify the settings of your instance.
  - name: Invitations
    description: Invitations allow you to invite someone to sign up to your application, via email.
    externalDocs:
      url: https://clerk.com/docs/authentication/invitations
  - name: JWKS
    description: Retrieve the JSON Web Key Set which can be used to verify the token signatures of the instance.
  - name: JWT Templates
    description: |-
      JWT Templates allow you to generate custom authentication tokens
      tied to authenticated sessions, enabling you to integrate with third-party
      services.
    externalDocs:
      url: https://clerk.com/docs/request-authentication/jwt-templates
  - name: OAuth Applications
    description: OAuth applications contain data for clients using Clerk as an OAuth2 identity provider.
  - name: OAuth Access Tokens
    description: Endpoints for managing OAuth Access Tokens, which are credentials to access protected resources on behalf of a user.
  - name: Organizations
    description: Organizations are used to group members under a common entity and provide shared access to resources.
    externalDocs:
      url: https://clerk.com/docs/organizations/overview
  - name: Organization Invitations
    description: Invite users to an organization.
    externalDocs:
      url: https://clerk.com/docs/organizations/invite-users
  - name: Organization Memberships
    description: Manage member roles in an organization.
    externalDocs:
      url: https://clerk.com/docs/organizations/manage-member-roles
  - name: Organization Permissions
    description: Manage organization permissions that define what members can do within an organization.
    externalDocs:
      url: https://clerk.com/docs/organizations/manage-member-roles
  - name: Organization Roles
    description: Manage custom roles in an organization.
    externalDocs:
      url: https://clerk.com/docs/organizations/manage-member-roles
  - name: Role Sets
    description: |-
      Role sets define collections of roles that can be assigned to organization members.
      Each organization uses one role set to determine the available roles for its members.
      Role sets support default roles for new members and creator roles for organization founders.
    externalDocs:
      url: https://clerk.com/docs/organizations/manage-member-roles
  - name: Phone Numbers
    description: A user can be associated with one or more phone numbers, which allows them to be contacted via SMS.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/types/phone-number
  - name: Redirect URLs
    description: |-
      Redirect URLs are whitelisted URLs that facilitate secure authentication flows in native applications (e.g. React Native, Expo).
      In these contexts, Clerk ensures that security-critical nonces are passed only to the whitelisted URLs.
  - name: SAML Connections
    description: |-
      A SAML Connection holds configuration data required for facilitating a SAML SSO flow between your
      Clerk Instance (SP) and a particular SAML IdP.
  - name: Enterprise Connections
    description: |-
      An Enterprise Connection holds configuration data required for facilitating an enterprise SSO flow between your
      Clerk instance and an identity provider.
    externalDocs:
      url: https://clerk.com/docs/guides/configure/auth-strategies/enterprise-connections/overview
  - name: Sessions
    description: |-
      The Session object is an abstraction over an HTTP session.
      It models the period of information exchange between a user and the server.
      Sessions are created when a user successfully goes through the sign in or sign up flows.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/session
  - name: Machines
    description: A Machine represents a machine/server/service which can be used in machine-to-machine authentication.
  - name: M2M Tokens
    description: Machine to Machine Tokens are used to manage authentication between Machines.
  - name: API Keys
    description: Endpoints for managing API Keys
  - name: Sign-in Tokens
    description: |-
      Sign-in tokens are JWTs that can be used to sign in to an application without specifying any credentials.
      A sign-in token can be used at most once and they can be consumed from the Frontend API using the `ticket` strategy.
  - name: Sign Ups
    description: Sign-up objects track the progress of a sign-up attempt and store any field collected from user input.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/sign-up
  - name: Testing Tokens
    description: Tokens meant for use by end-to-end test suites in requests to the Frontend API, so as to bypass bot detection measures.
    externalDocs:
      url: https://clerk.com/docs/testing/overview#testing-tokens
  - name: Agent Tasks
    description: Tasks that allow creating user sessions for agent-based interactions.
  - name: Users
    description: The user object represents a user that has successfully signed up to your application.
    externalDocs:
      url: https://clerk.com/docs/references/javascript/user
  - name: Webhooks
    description: You can configure webhooks to be notified about various events that happen on your instance.
    externalDocs:
      url: https://clerk.com/docs/integration/webhooks
  - name: Miscellaneous
    description: Various endpoints that do not belong in any particular category.
  - name: Beta Features
    description: Modify instance settings that are currently in beta.
  - name: Waitlist Entries
    description: Manage waitlist entries.
  - name: Proxy Checks
    description: Check if a user is using a proxy.
  - name: Organization Domains
    description: Manage organization domains.
  - name: Accountless Applications
    description: Create and complete accountless applications. Note that this is an experimental feature and subject to change or be removed without notice.
externalDocs:
  url: https://clerk.com/docs
paths:
  /public/interstitial:
    get:
      operationId: GetPublicInterstitial
      x-speakeasy-group: miscellaneous
      x-speakeasy-name-override: getPublicInterstitial
      security: []
      summary: Returns the markup for the interstitial page
      description: |-
        The Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user's authentication state.
        It is used by Clerk SDKs when the user's authentication state cannot be immediately determined.
      tags:
        - Miscellaneous
      parameters:
        - name: frontendApi
          deprecated: true
          in: query
          required: false
          description: Please use `frontend_api` instead
          schema:
            type: string
        - name: frontend_api
          in: query
          required: false
          description: The Frontend API key of your instance
          schema:
            type: string
        - name: publishable_key
          in: query
          required: false
          description: The publishable key of your instance
          schema:
            type: string
        - name: proxy_url
          in: query
          required: false
          description: The proxy URL of your instance
          schema:
            type: string
        - name: domain
          in: query
          required: false
          description: The domain of your instance
          schema:
            type: string
        - name: sign_in_url
          in: query
          required: false
          description: The sign in URL of your instance
          schema:
            type: string
        - name: use_domain_for_script
          in: query
          required: false
          description: Whether to use the domain for the script URL
          schema:
            type: boolean
      responses:
        '200':
          description: The interstitial page markup
        '400':
          description: A required query parameter is missing
        '500':
          description: An infinite redirect loop was detected
  /jwks:
    get:
      operationId: GetJWKS
      x-speakeasy-group: jwks
      x-speakeasy-name-override: getJWKS
      summary: Retrieve the JSON Web Key Set of the instance
      description: Retrieve the JSON Web Key Set of the instance
      tags:
        - JWKS
      responses:
        '200':
          $ref: '#/components/responses/WellKnown.JWKS'
  /aws_credentials: {}
  /aws_credentials/{id}: {}
  /clients:
    get:
      deprecated: true
      operationId: GetClientList
      x-speakeasy-group: clients
      x-speakeasy-name-override: list
      tags:
        - Clients
      summary: List all clients
      description: |-
        Returns a list of all clients. The clients are returned sorted by creation date,
        with the newest clients appearing first.
        Warning: the endpoint is being deprecated and will be removed in future versions.
      parameters:
        - $ref: '#/components/parameters/Paginated'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/Client.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '410':
          $ref: '#/components/responses/DeprecatedEndpoint'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /clients/verify:
    post:
      operationId: VerifyClient
      x-speakeasy-group: clients
      x-speakeasy-name-override: verify
      tags:
        - Clients
      summary: Verify a client
      description: Verifies the client in the provided token
      requestBody:
        description: Parameters.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: A JWT that represents the active client.
              required:
                - token
      responses:
        '200':
          $ref: '#/components/responses/Client'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /clients/{client_id}:
    get:
      operationId: GetClient
      x-speakeasy-group: clients
      x-speakeasy-name-override: get
      tags:
        - Clients
      summary: Get a client
      description: Returns the details of a client.
      parameters:
        - name: client_id
          in: path
          description: Client ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Client'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /clients/handshake_payload: {}
  /email_addresses:
    post:
      operationId: CreateEmailAddress
      x-speakeasy-group: emailAddresses
      x-speakeasy-name-override: create
      tags:
        - Email Addresses
      summary: Create an email address
      description: Create a new email address
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The ID representing the user
                email_address:
                  type: string
                  description: The new email address. Must adhere to the RFC 5322 specification for email address format.
                verified:
                  type: boolean
                  description: When created, the email address will be marked as verified.
                  nullable: true
                primary:
                  type: boolean
                  description: |-
                    Create this email address as the primary email address for the user.
                    Default: false, unless it is the first email address.
                  nullable: true
              required:
                - user_id
                - email_address
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /email_addresses/{email_address_id}:
    get:
      operationId: GetEmailAddress
      x-speakeasy-group: emailAddresses
      x-speakeasy-name-override: get
      x-speakeasy-usage-example: true
      tags:
        - Email Addresses
      summary: Retrieve an email address
      description: Returns the details of an email address.
      parameters:
        - name: email_address_id
          in: path
          description: The ID of the email address to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      operationId: DeleteEmailAddress
      x-speakeasy-group: emailAddresses
      x-speakeasy-name-override: delete
      tags:
        - Email Addresses
      summary: Delete an email address
      description: Delete the email address with the given ID
      parameters:
        - name: email_address_id
          in: path
          description: The ID of the email address to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    patch:
      operationId: UpdateEmailAddress
      x-speakeasy-group: emailAddresses
      x-speakeasy-name-override: update
      tags:
        - Email Addresses
      summary: Update an email address
      description: Updates an email address.
      parameters:
        - name: email_address_id
          in: path
          description: The ID of the email address to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                verified:
                  type: boolean
                  description: The email address will be marked as verified.
                  nullable: true
                primary:
                  type: boolean
                  description: Set this email address as the primary email address for the user.
                  nullable: true
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /phone_numbers:
    post:
      operationId: CreatePhoneNumber
      x-speakeasy-group: phoneNumbers
      x-speakeasy-name-override: create
      tags:
        - Phone Numbers
      summary: Create a phone number
      description: Create a new phone number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The ID representing the user
                phone_number:
                  type: string
                  description: The new phone number. Must adhere to the E.164 standard for phone number format.
                verified:
                  type: boolean
                  description: When created, the phone number will be marked as verified.
                  nullable: true
                primary:
                  type: boolean
                  description: 'Create this phone number as the primary phone number for the user. Default: false, unless it is the first phone number.'
                  nullable: true
                reserved_for_second_factor:
                  type: boolean
                  description: |-
                    Create this phone number as reserved for multi-factor authentication. The phone number must also be verified.
                    If there are no other reserved second factors, the phone number will be set as the default second factor.
                  nullable: true
              required:
                - user_id
                - phone_number
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /phone_numbers/{phone_number_id}:
    get:
      operationId: GetPhoneNumber
      x-speakeasy-group: phoneNumbers
      x-speakeasy-name-override: get
      tags:
        - Phone Numbers
      summary: Retrieve a phone number
      description: Returns the details of a phone number
      parameters:
        - name: phone_number_id
          in: path
          description: The ID of the phone number to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      operationId: DeletePhoneNumber
      x-speakeasy-group: phoneNumbers
      x-speakeasy-name-override: delete
      tags:
        - Phone Numbers
      summary: Delete a phone number
      description: Delete the phone number with the given ID
      parameters:
        - name: phone_number_id
          in: path
          description: The ID of the phone number to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      operationId: UpdatePhoneNumber
      x-speakeasy-group: phoneNumbers
      x-speakeasy-name-override: update
      tags:
        - Phone Numbers
      summary: Update a phone number
      description: Updates a phone number
      parameters:
        - name: phone_number_id
          in: path
          description: The ID of the phone number to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                verified:
                  type: boolean
                  description: The phone number will be marked as verified.
                  nullable: true
                primary:
                  type: boolean
                  description: Set this phone number as the primary phone number for the user.
                  nullable: true
                reserved_for_second_factor:
                  type: boolean
                  description: |-
                    Set this phone number as reserved for multi-factor authentication.
                    The phone number must also be verified.
                    If there are no other reserved second factors, the phone number will be set as the default second factor.
                  nullable: true
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions:
    get:
      operationId: GetSessionList
      x-speakeasy-group: sessions
      x-speakeasy-name-override: list
      tags:
        - Sessions
      summary: List all sessions
      description: |-
        Returns a list of sessions matching the provided criteria.
        The sessions are returned sorted by creation date, with the newest sessions appearing first.

        Note: This endpoint does not return all sessions that have ever existed. Old and inactive sessions are periodically cleaned up and will not be included in the results.

        **Deprecation Notice (2024-01-01):** All parameters were initially considered optional, however
        moving forward at least one of `client_id` or `user_id` parameters should be provided.
      parameters:
        - name: client_id
          in: query
          required: false
          description: List sessions for the given client
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          description: List sessions for the given user
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter sessions by the provided status
          schema:
            type: string
            enum:
              - abandoned
              - active
              - ended
              - expired
              - removed
              - replaced
              - revoked
        - $ref: '#/components/parameters/Paginated'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/Session.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      operationId: createSession
      x-speakeasy-group: sessions
      x-speakeasy-name-override: create
      tags:
        - Sessions
      summary: Create a new active session
      description: |-
        Create a new active session for the provided user ID.

        **This operation is intended only for use in testing, and is not available for production instances.** If you are looking to generate a user session from the backend,
        we recommend using the [Sign-in Tokens](https://clerk.com/docs/reference/backend-api/tag/Sign-in-Tokens#operation/CreateSignInToken) resource instead.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The ID representing the user
                active_organization_id:
                  type: string
                  description: The ID of the organization to set as active for this session
              required:
                - user_id
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /sessions/{session_id}:
    get:
      operationId: GetSession
      x-speakeasy-group: sessions
      x-speakeasy-name-override: get
      tags:
        - Sessions
      summary: Retrieve a session
      description: Retrieve the details of a session
      parameters:
        - name: session_id
          in: path
          description: The ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions/{session_id}/refresh:
    post:
      operationId: RefreshSession
      x-speakeasy-group: sessions
      x-speakeasy-name-override: refresh
      tags:
        - Sessions
      summary: Refresh a session
      description: |-
        Refreshes a session by creating a new session token. A 401 is returned when there
        are validation errors, which signals the SDKs to fall back to the handshake flow.
      parameters:
        - name: session_id
          in: path
          description: The ID of the session
          required: true
          schema:
            type: string
      requestBody:
        description: Refresh session parameters
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                expired_token:
                  type: string
                  description: |-
                    The JWT that is sent via the `__session` cookie from your frontend.
                    Note: this JWT must be associated with the supplied session ID.
                refresh_token:
                  type: string
                  description: The refresh token from the `__refresh` cookie set via FAPI's handshake flow.
                request_origin:
                  type: string
                  description: The origin of the request.
                request_headers:
                  type: object
                  additionalProperties: true
                  description: The headers of the request.
                  nullable: true
                format:
                  type: string
                  description: The format of the response.
                  nullable: true
                  default: token
                  enum:
                    - token
                    - cookie
                request_originating_ip:
                  type: string
                  description: The IP address of the request.
                  nullable: true
              required:
                - expired_token
                - refresh_token
                - request_origin
      responses:
        '200':
          $ref: '#/components/responses/Session.Refresh'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
  /sessions/{session_id}/revoke:
    post:
      operationId: RevokeSession
      x-speakeasy-group: sessions
      x-speakeasy-name-override: revoke
      tags:
        - Sessions
      summary: Revoke a session
      description: |-
        Sets the status of a session as "revoked", which is an unauthenticated state.
        In multi-session mode, a revoked session will still be returned along with its client object, however the user will need to sign in again.
      parameters:
        - name: session_id
          in: path
          description: The ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions/{session_id}/tokens:
    post:
      operationId: CreateSessionToken
      x-speakeasy-group: sessions
      x-speakeasy-name-override: createToken
      tags:
        - Sessions
      summary: Create a session token
      description: Creates a session JSON Web Token (JWT) based on a session.
      parameters:
        - name: session_id
          in: path
          description: The ID of the session
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in_seconds:
                  type: integer
                  minimum: 30
                  maximum: 315360000
                  description: Use this parameter to override the default session token lifetime.
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                      - token
                  jwt:
                    type: string
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions/{session_id}/tokens/{template_name}:
    post:
      operationId: CreateSessionTokenFromTemplate
      x-speakeasy-group: sessions
      x-speakeasy-name-override: createTokenFromTemplate
      tags:
        - Sessions
      summary: Create a session token from a JWT template
      description: Creates a JSON Web Token (JWT) based on a session and a JWT Template name defined for your instance
      parameters:
        - name: session_id
          in: path
          description: The ID of the session
          required: true
          schema:
            type: string
        - name: template_name
          in: path
          description: The name of the JWT template defined in your instance (e.g. `custom_hasura`).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in_seconds:
                  type: integer
                  minimum: 30
                  maximum: 315360000
                  description: Use this parameter to override the JWT lifetime.
                  nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                      - token
                  jwt:
                    type: string
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /templates/{template_type}:
    get:
      deprecated: true
      operationId: GetTemplateList
      x-speakeasy-group: emailSMSTemplates
      x-speakeasy-name-override: list
      summary: List all templates
      description: |-
        Returns a list of all templates.
        The templates are returned sorted by position.
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of templates to list (email or SMS)
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - $ref: '#/components/parameters/Paginated'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/Template.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}:
    get:
      deprecated: true
      operationId: GetTemplate
      x-speakeasy-group: emailSMSTemplates
      x-speakeasy-name-override: get
      summary: Retrieve a template
      description: Returns the details of a template
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of templates to retrieve (email or SMS)
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - name: slug
          in: path
          description: The slug (i.e. machine-friendly name) of the template to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    put:
      deprecated: true
      operationId: UpsertTemplate
      x-speakeasy-group: emailAndSmsTemplates
      x-speakeasy-name-override: upsert
      summary: Update a template for a given type and slug
      description: Updates the existing template of the given type and slug
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of template to update
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - name: slug
          in: path
          description: The slug of the template to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: The user-friendly name of the template
                subject:
                  type: string
                  description: |-
                    The email subject.
                    Applicable only to email templates.
                  nullable: true
                markup:
                  type: string
                  description: The editor markup used to generate the body of the template
                  nullable: true
                body:
                  type: string
                  description: The template body before variable interpolation
                delivered_by_clerk:
                  type: boolean
                  description: Whether Clerk should deliver emails or SMS messages based on the current template
                  nullable: true
                from_email_name:
                  type: string
                  description: |-
                    The local part of the From email address that will be used for emails.
                    For example, in the address 'hello@example.com', the local part is 'hello'.
                    Applicable only to email templates.
                reply_to_email_name:
                  type: string
                  description: |-
                    The local part of the Reply To email address that will be used for emails.
                    For example, in the address 'hello@example.com', the local part is 'hello'.
                    Applicable only to email templates.
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}/revert:
    post:
      deprecated: true
      operationId: RevertTemplate
      x-speakeasy-group: emailSMSTemplates
      x-speakeasy-name-override: revert
      summary: Revert a template
      description: Reverts an updated template to its default state
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of template to revert
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - name: slug
          in: path
          description: The slug of the template to revert
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /templates/{template_type}/{slug}/preview:
    post:
      deprecated: true
      operationId: PreviewTemplate
      x-speakeasy-group: templates
      x-speakeasy-name-override: preview
      summary: Preview changes to a template
      description: Returns a preview of a template for a given template_type, slug and body
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of template to preview
          required: true
          schema:
            type: string
        - name: slug
          in: path
          description: The slug of the template to preview
          required: true
          schema:
            type: string
      requestBody:
        description: Required parameters
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                subject:
                  type: string
                  description: |-
                    The email subject.
                    Applicable only to email templates.
                  nullable: true
                body:
                  type: string
                  description: The template body before variable interpolation
                from_email_name:
                  type: string
                  description: |-
                    The local part of the From email address that will be used for emails.
                    For example, in the address 'hello@example.com', the local part is 'hello'.
                    Applicable only to email templates.
                reply_to_email_name:
                  type: string
                  description: |-
                    The local part of the Reply To email address that will be used for emails.
                    For example, in the address 'hello@example.com', the local part is 'hello'.
                    Applicable only to email templates.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}/toggle_delivery:
    post:
      deprecated: true
      operationId: ToggleTemplateDelivery
      x-speakeasy-group: emailSMSTemplates
      x-speakeasy-name-override: toggleTemplateDelivery
      summary: Toggle the delivery by Clerk for a template of a given type and slug
      description: |-
        Toggles the delivery by Clerk for a template of a given type and slug.
        If disabled, Clerk will not deliver the resulting email or SMS.
        The app developer will need to listen to the `email.created` or `sms.created` webhooks in order to handle delivery themselves.
      tags:
        - Email & SMS Templates
      parameters:
        - name: template_type
          in: path
          description: The type of template to toggle delivery for
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - name: slug
          in: path
          description: The slug of the template for which to toggle delivery
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                delivered_by_clerk:
                  type: boolean
                  description: Whether Clerk should deliver emails or SMS messages based on the current template
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /users:
    get:
      operationId: GetUserList
      x-speakeasy-group: users
      x-speakeasy-name-override: list
      summary: List all users
      description: |-
        Returns a list of all users.
        The users are returned sorted by creation date, with the newest users appearing first.
      tags:
        - Users
      parameters:
        - name: email_address
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified email addresses.
            Accepts up to 100 email addresses.
            Any email addresses not found are ignored.
          required: false
        - name: phone_number
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified phone numbers.
            Accepts up to 100 phone numbers.
            Any phone numbers not found are ignored.
          required: false
        - name: external_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified external IDs.
            For each external ID, the `+` and `-` can be
            prepended to the ID, which denote whether the
            respective external ID should be included or
            excluded from the result set.
            Accepts up to 100 external IDs.
            Any external IDs not found are ignored.
          required: false
        - name: username
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified usernames.
            Accepts up to 100 usernames.
            Any usernames not found are ignored.
          required: false
        - name: web3_wallet
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified web3 wallet addresses.
            Accepts up to 100 web3 wallet addresses.
            Any web3 wallet addresses not found are ignored.
          required: false
        - name: user_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the user IDs specified.
            For each user ID, the `+` and `-` can be
            prepended to the ID, which denote whether the
            respective user ID should be included or
            excluded from the result set.
            Accepts up to 100 user IDs.
            Any user IDs not found are ignored.
          required: false
        - name: organization_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users that have memberships to the
            given organizations.
            For each organization ID, the `+` and `-` can be
            prepended to the ID, which denote whether the
            respective organization should be included or
            excluded from the result set.
            Accepts up to 100 organization IDs.
          required: false
        - name: query
          in: query
          description: |-
            Returns users that match the given query.
            For possible matches, we check the email addresses, phone numbers, usernames, web3 wallets, user IDs, first and last names.
            The query value doesn't need to match the exact value you are looking for, it is capable of partial matches as well.
          schema:
            type: string
          required: false
        - name: email_address_query
          in: query
          description: |-
            Returns users with emails that match the given query, via case-insensitive partial match.
            For example, `email_address_query=ello` will match a user with the email `HELLO@example.com`.
          schema:
            type: string
          required: false
        - name: phone_number_query
          in: query
          description: |-
            Returns users with phone numbers that match the given query, via case-insensitive partial match.
            For example, `phone_number_query=555` will match a user with the phone number `+1555xxxxxxx`.
          schema:
            type: string
          required: false
        - name: username_query
          in: query
          description: |-
            Returns users with usernames that match the given query, via case-insensitive partial match.
            For example, `username_query=CoolUser` will match a user with the username `SomeCoolUser`.
          schema:
            type: string
        - name: name_query
          in: query
          description: Returns users with names that match the given query, via case-insensitive partial match.
          schema:
            type: string
        - name: banned
          in: query
          required: false
          description: Returns users which are either banned (`banned=true`) or not banned (`banned=false`).
          schema:
            type: boolean
        - name: last_active_at_before
          in: query
          description: |-
            Returns users whose last session activity was before the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last session activity was before 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_active_at_after
          in: query
          description: |-
            Returns users whose last session activity was after the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last session activity was after 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_active_at_since
          in: query
          deprecated: true
          description: |-
            Returns users that had session activity since the given date.
            Example: use 1700690400000 to retrieve users that had session activity from 2023-11-23 until the current day.
            Deprecated in favor of `last_active_at_after`.
          example: 1700690400000
          schema:
            type: integer
        - name: created_at_before
          in: query
          description: |-
            Returns users who have been created before the given date (with millisecond precision).
            Example: use 1730160000000 to retrieve users who have been created before 2024-10-29.
          example: 1730160000000
          schema:
            type: integer
        - name: created_at_after
          in: query
          description: |-
            Returns users who have been created after the given date (with millisecond precision).
            Example: use 1730160000000 to retrieve users who have been created after 2024-10-29.
          example: 1730160000000
          schema:
            type: integer
        - name: last_sign_in_at_before
          in: query
          description: |-
            Returns users whose last sign-in was before the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last sign-in was before 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_sign_in_at_after
          in: query
          description: |-
            Returns users whose last sign-in was after the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last sign-in was after 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: provider
          in: query
          schema:
            type: string
          description: |-
            Returns users with external accounts for the specified OAuth provider.
            Must be used in combination with the `provider_user_id` parameter.
            For example, use `provider=oauth_google&provider_user_id=12345` to retrieve a user with Google provider user ID 12345.
          required: false
        - name: provider_user_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users with the specified provider user IDs for a specific provider.
            Must be used in combination with the `provider` parameter.
            For example, use `provider=oauth_google&provider_user_id=12345` to retrieve a user with Google provider user ID 12345.
            Accepts up to 100 provider user IDs.
            Any provider user IDs not found are ignored.
          required: false
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - name: order_by
          in: query
          description: |-
            Allows to return users in a particular order.
            At the moment, you can order the returned users by their `created_at`,`updated_at`,`email_address`,`web3wallet`,`first_name`,`last_name`,`phone_number`,`username`,`last_active_at`,`last_sign_in_at`.
            In order to specify the direction, you can use the `+/-` symbols prepended in the property to order by.
            For example, if you want users to be returned in descending order according to their `created_at` property, you can use `-created_at`.
            If you don't use `+` or `-`, then `+` is implied. We only support one `order_by` parameter, and if multiple `order_by` parameters are provided, we will only keep the first one. For example,
            if you pass `order_by=username&order_by=created_at`, we will consider only the first `order_by` parameter, which is `username`. The `created_at` parameter will be ignored in this case.
          schema:
            type: string
            default: '-created_at'
          required: false
      responses:
        '200':
          $ref: '#/components/responses/User.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      operationId: CreateUser
      x-speakeasy-group: users
      x-speakeasy-name-override: create
      summary: Create a new user
      description: |-
        Creates a new user. Your user management settings determine how you should setup your user model.

        Any email address and phone number created using this method will be marked as verified.

        Note: If you are performing a migration, check out our guide on [zero downtime migrations](https://clerk.com/docs/deployments/migrate-overview).

        The following rate limit rules apply to this endpoint: 1000 requests per 10 seconds for production instances and 100 requests per 10 seconds for development instances
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                external_id:
                  type: string
                  description: |-
                    The ID of the user as used in your external systems or your previous authentication solution.
                    Must be unique across your instance.
                  nullable: true
                first_name:
                  type: string
                  description: The first name to assign to the user
                  nullable: true
                last_name:
                  type: string
                  description: The last name to assign to the user
                  nullable: true
                locale:
                  type: string
                  description: The locale to assign to the user (e.g., "en-US", "fr-FR")
                  nullable: true
                email_address:
                  type: array
                  items:
                    type: string
                  description: |-
                    Email addresses to add to the user.
                    Must be unique across your instance.
                    The first email address will be set as the user's primary email address.
                phone_number:
                  type: array
                  items:
                    type: string
                  description: |-
                    Phone numbers to add to the user.
                    Must be unique across your instance.
                    The first phone number will be set as the user's primary phone number.
                web3_wallet:
                  type: array
                  items:
                    type: string
                  description: |-
                    Web3 wallets to add to the user.
                    Must be unique across your instance.
                    The first wallet will be set as the user's primary wallet.
                username:
                  type: string
                  description: |-
                    The username to give to the user.
                    It must be unique across your instance.
                  nullable: true
                password:
                  type: string
                  description: |-
                    The plaintext password to give the user.
                    Must be at least 8 characters long, and cannot be in any list of hacked passwords.
                  nullable: true
                password_digest:
                  type: string
                  description: |-
                    In case you already have the password digests and not the passwords, you can use them for the newly created user via this property.
                    The digests should be generated with one of the supported algorithms.
                    The hashing algorithm can be specified using the `password_hasher` property.
                  nullable: true
                password_hasher:
                  $ref: '#/components/schemas/PasswordHasher'
                skip_password_checks:
                  type: boolean
                  description: |-
                    When set to `true` all password checks are skipped.
                    It is recommended to use this method only when migrating plaintext passwords to Clerk.
                    Upon migration the user base should be prompted to pick stronger password.
                  nullable: true
                skip_password_requirement:
                  type: boolean
                  description: |-
                    When set to `true`, `password` is not required anymore when creating the user and can be omitted.
                    This is useful when you are trying to create a user that doesn't have a password, in an instance that is using passwords.
                    Please note that you cannot use this flag if password is the only way for a user to sign into your instance.
                  nullable: true
                totp_secret:
                  type: string
                  description: |-
                    In case TOTP is configured on the instance, you can provide the secret to enable it on the newly created user without the need to reset it.
                    Please note that currently the supported options are:
                    * Period: 30 seconds
                    * Code length: 6 digits
                    * Algorithm: SHA1
                  nullable: true
                backup_codes:
                  type: array
                  items:
                    type: string
                  description: |-
                    If Backup Codes are configured on the instance, you can provide them to enable it on the newly created user without the need to reset them.
                    You must provide the backup codes in plain format or the corresponding bcrypt digest.
                public_metadata:
                  type: object
                  description: Metadata saved on the user, that is visible to both your Frontend and Backend APIs
                  additionalProperties: true
                private_metadata:
                  type: object
                  description: Metadata saved on the user, that is only visible to your Backend API
                  additionalProperties: true
                unsafe_metadata:
                  type: object
                  description: |-
                    Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.
                    Note: Since this data can be modified from the frontend, it is not guaranteed to be safe.
                  additionalProperties: true
                delete_self_enabled:
                  type: boolean
                  description: |
                    If enabled, user can delete themselves via FAPI.
                  nullable: true
                legal_accepted_at:
                  type: string
                  description: A custom timestamp denoting _when_ the user accepted legal requirements, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`).
                  nullable: true
                skip_legal_checks:
                  type: boolean
                  description: |-
                    When set to `true` all legal checks are skipped.
                    It is not recommended to skip legal checks unless you are migrating a user to Clerk.
                  nullable: true
                skip_user_requirement:
                  type: boolean
                  description: |-
                    When set to `true`, identification types are not enforced.
                    At least one identification type must be enabled and provided on your instance (email, phone, web3 wallet, or username).
                    Users created without required identification types cannot use those authentication strategies
                    It is not recommended to use this flag unless you need to allow Clerk UI components to prompt for required fields while BAPI creates users with minimal data, or for migration a user to Clerk.
                  nullable: true
                create_organization_enabled:
                  type: boolean
                  description: |
                    If enabled, user can create organizations via FAPI.
                  nullable: true
                create_organizations_limit:
                  type: integer
                  description: |
                    The maximum number of organizations the user can create. 0 means unlimited.
                  nullable: true
                created_at:
                  type: string
                  description: A custom date/time denoting _when_ the user signed up to the application, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`).
                  nullable: true
                bypass_client_trust:
                  type: boolean
                  description: When set to `true`, the user will bypass client trust checks during sign-in.
                  nullable: true
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/count:
    get:
      operationId: GetUsersCount
      x-speakeasy-group: users
      x-speakeasy-name-override: count
      summary: Count users
      description: Returns a total count of all users that match the given filtering criteria.
      tags:
        - Users
      parameters:
        - name: email_address
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified email addresses.
            Accepts up to 100 email addresses.
            Any email addresses not found are ignored.
          required: false
        - name: phone_number
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified phone numbers.
            Accepts up to 100 phone numbers.
            Any phone numbers not found are ignored.
          required: false
        - name: external_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified external IDs.
            Accepts up to 100 external IDs.
            Any external IDs not found are ignored.
          required: false
        - name: username
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified usernames.
            Accepts up to 100 usernames.
            Any usernames not found are ignored.
          required: false
        - name: web3_wallet
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified web3 wallet addresses.
            Accepts up to 100 web3 wallet addresses.
            Any web3 wallet addresses not found are ignored.
          required: false
        - name: user_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the user IDs specified.
            Accepts up to 100 user IDs.
            Any user IDs not found are ignored.
          required: false
        - name: organization_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Returns users that have memberships to the given organizations. For each organization ID, the `+` and `-`
            can be prepended to the ID, which denote whether the respective organization should be included or
            excluded from the result set. Accepts up to 100 organization IDs.
          required: false
        - name: query
          in: query
          description: |-
            Counts users that match the given query.
            For possible matches, we check the email addresses, phone numbers, usernames, web3 wallets, user IDs, first and last names.
            The query value doesn't need to match the exact value you are looking for, it is capable of partial matches as well.
          schema:
            type: string
          required: false
        - name: email_address_query
          in: query
          description: |-
            Counts users with emails that match the given query, via case-insensitive partial match.
            For example, `email_address_query=ello` will match a user with the email `HELLO@example.com`,
            and will be included in the resulting count.
          schema:
            type: string
          required: false
        - name: phone_number_query
          in: query
          description: |-
            Counts users with phone numbers that match the given query, via case-insensitive partial match.
            For example, `phone_number_query=555` will match a user with the phone number `+1555xxxxxxx`,
            and will be included in the resulting count.
          schema:
            type: string
          required: false
        - name: username_query
          in: query
          description: |-
            Counts users with usernames that match the given query, via case-insensitive partial match.
            For example, `username_query=CoolUser` will match a user with the username `SomeCoolUser`,
            and will be included in the resulting count.
          schema:
            type: string
        - name: name_query
          in: query
          description: Returns users with names that match the given query, via case-insensitive partial match.
          schema:
            type: string
        - name: banned
          in: query
          required: false
          description: Counts users which are either banned (`banned=true`) or not banned (`banned=false`).
          schema:
            type: boolean
        - name: last_active_at_before
          in: query
          description: |-
            Returns users whose last session activity was before the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last session activity was before 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_active_at_after
          in: query
          description: |-
            Returns users whose last session activity was after the given date (with millisecond precision).
            Example: use 1700690400000 to retrieve users whose last session activity was after 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_active_at_since
          in: query
          deprecated: true
          description: |-
            Returns users that had session activity since the given date.
            Example: use 1700690400000 to retrieve users that had session activity from 2023-11-23 until the current day.
            Deprecated in favor of `last_active_at_after`.
          example: 1700690400000
          schema:
            type: integer
        - name: created_at_before
          in: query
          description: |-
            Returns users who have been created before the given date (with millisecond precision).
            Example: use 1730160000000 to retrieve users who have been created before 2024-10-29.
          example: 1730160000000
          schema:
            type: integer
        - name: created_at_after
          in: query
          description: |-
            Returns users who have been created after the given date (with millisecond precision).
            Example: use 1730160000000 to retrieve users who have been created after 2024-10-29.
          example: 1730160000000
          schema:
            type: integer
        - name: last_sign_in_at_before
          in: query
          description: |-
            Counts users whose last sign-in was before the given date (with millisecond precision).
            Example: use 1700690400000 to count users whose last sign-in was before 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: last_sign_in_at_after
          in: query
          description: |-
            Counts users whose last sign-in was after the given date (with millisecond precision).
            Example: use 1700690400000 to count users whose last sign-in was after 2023-11-23.
          example: 1700690400000
          schema:
            type: integer
        - name: provider
          in: query
          schema:
            type: string
          description: |-
            Counts users with external accounts for the specified OAuth provider.
            Must be used in combination with the `provider_user_id` parameter.
            For example, use `provider=oauth_google&provider_user_id=12345` to count users with Google provider user ID 12345.
            Accepts up to 100 providers.
          required: false
        - name: provider_user_id
          in: query
          schema:
            type: array
            items:
              type: string
          description: |-
            Counts users with the specified provider user IDs for a specific provider.
            Must be used in combination with the `provider` parameter.
            For example, use `provider=oauth_google&provider_user_id=12345` to count users with Google provider user ID 12345.
            Accepts up to 100 provider user IDs.
            Any provider user IDs not found are ignored.
          required: false
      responses:
        '200':
          $ref: '#/components/responses/User.Count'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}:
    get:
      operationId: GetUser
      x-speakeasy-group: users
      x-speakeasy-name-override: get
      summary: Retrieve a user
      description: Retrieve the details of a user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      operationId: UpdateUser
      x-speakeasy-group: users
      x-speakeasy-name-override: update
      summary: Update a user
      description: |-
        Update a user's attributes.

        You can set the user's primary contact identifiers (email address and phone numbers) by updating the `primary_email_address_id` and `primary_phone_number_id` attributes respectively.
        Both IDs should correspond to verified identifications that belong to the user.

        You can remove a user's username by setting the username attribute to null or the blank string "".
        This is a destructive action; the identification will be deleted forever.
        Usernames can be removed only if they are optional in your instance settings and there's at least one other identifier which can be used for authentication.

        This endpoint allows changing a user's password. When passing the `password` parameter directly you have two further options.
        You can ignore the password policy checks for your instance by setting the `skip_password_checks` parameter to `true`.
        You can also choose to sign the user out of all their active sessions on any device once the password is updated. Just set `sign_out_of_other_sessions` to `true`.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to update
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                external_id:
                  type: string
                  description: |-
                    The ID of the user as used in your external systems or your previous authentication solution.
                    Must be unique across your instance.
                  nullable: true
                first_name:
                  type: string
                  description: The first name to assign to the user
                  nullable: true
                last_name:
                  type: string
                  description: The last name to assign to the user
                  nullable: true
                locale:
                  type: string
                  description: The locale to assign to the user (e.g., "en-US", "fr-FR")
                  nullable: true
                primary_email_address_id:
                  type: string
                  description: |-
                    The ID of the email address to set as primary.
                    It must be verified, and present on the current user.
                  nullable: true
                notify_primary_email_address_changed:
                  type: boolean
                  description: |-
                    If set to `true`, the user will be notified that their primary email address has changed.
                    By default, no notification is sent.
                  nullable: true
                  default: false
                primary_phone_number_id:
                  type: string
                  description: |-
                    The ID of the phone number to set as primary.
                    It must be verified, and present on the current user.
                  nullable: true
                primary_web3_wallet_id:
                  type: string
                  description: |-
                    The ID of the web3 wallets to set as primary.
                    It must be verified, and present on the current user.
                  nullable: true
                username:
                  type: string
                  description: |-
                    The username to give to the user.
                    It must be unique across your instance.
                  nullable: true
                profile_image_id:
                  type: string
                  description: The ID of the image to set as the user's profile image
                  nullable: true
                password:
                  type: string
                  description: |-
                    The plaintext password to give the user.
                    Must be at least 8 characters long, and cannot be in any list of hacked passwords.
                  nullable: true
                password_digest:
                  type: string
                  description: |-
                    In case you already have the password digests and not the passwords, you can use them for the newly created user via this property.
                    The digests should be generated with one of the supported algorithms.
                    The hashing algorithm can be specified using the `password_hasher` property.
                password_hasher:
                  $ref: '#/components/schemas/PasswordHasher'
                skip_password_checks:
                  type: boolean
                  description: Set it to `true` if you're updating the user's password and want to skip any password policy settings check. This parameter can only be used when providing a `password`.
                  nullable: true
                sign_out_of_other_sessions:
                  type: boolean
                  description: Set to `true` to sign out the user from all their active sessions once their password is updated. This parameter can only be used when providing a `password`.
                  nullable: true
                totp_secret:
                  type: string
                  description: |-
                    In case TOTP is configured on the instance, you can provide the secret to enable it on the specific user without the need to reset it.
                    Please note that currently the supported options are:
                    * Period: 30 seconds
                    * Code length: 6 digits
                    * Algorithm: SHA1
                  nullable: true
                backup_codes:
                  type: array
                  items:
                    type: string
                  description: |-
                    If Backup Codes are configured on the instance, you can provide them to enable it on the specific user without the need to reset them.
                    You must provide the backup codes in plain format or the corresponding bcrypt digest.
                public_metadata:
                  type: object
                  description: Metadata saved on the user, that is visible to both your Frontend and Backend APIs
                  additionalProperties: true
                  nullable: true
                private_metadata:
                  type: object
                  description: Metadata saved on the user, that is only visible to your Backend API
                  additionalProperties: true
                  nullable: true
                unsafe_metadata:
                  type: object
                  description: |-
                    Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.
                    Note: Since this data can be modified from the frontend, it is not guaranteed to be safe.
                  additionalProperties: true
                  nullable: true
                delete_self_enabled:
                  type: boolean
                  description: If true, the user can delete themselves with the Frontend API.
                  nullable: true
                create_organization_enabled:
                  type: boolean
                  description: If true, the user can create organizations with the Frontend API.
                  nullable: true
                legal_accepted_at:
                  type: string
                  description: A custom timestamp denoting _when_ the user accepted legal requirements, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`).
                  nullable: true
                skip_legal_checks:
                  type: boolean
                  description: |-
                    When set to `true` all legal checks are skipped.
                    It is not recommended to skip legal checks unless you are migrating a user to Clerk.
                  nullable: true
                create_organizations_limit:
                  type: integer
                  description: The maximum number of organizations the user can create. 0 means unlimited.
                  nullable: true
                created_at:
                  type: string
                  description: A custom date/time denoting _when_ the user signed up to the application, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`).
                  nullable: true
                bypass_client_trust:
                  type: boolean
                  description: When set to `true`, the user will bypass client trust checks during sign-in.
                  nullable: true
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteUser
      x-speakeasy-group: users
      x-speakeasy-name-override: delete
      summary: Delete a user
      description: Delete the specified user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /users/{user_id}/ban:
    post:
      operationId: BanUser
      x-speakeasy-group: users
      x-speakeasy-name-override: ban
      summary: Ban a user
      description: Marks the given user as banned, which means that all their sessions are revoked and they are not allowed to sign in again.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to ban
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/{user_id}/unban:
    post:
      operationId: UnbanUser
      x-speakeasy-group: users
      x-speakeasy-name-override: unban
      summary: Unban a user
      description: Removes the ban mark from the given user.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to unban
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/ban:
    post:
      operationId: UsersBan
      x-speakeasy-group: users
      x-speakeasy-name-override: bulkBan
      summary: Ban multiple users
      description: Marks multiple users as banned, which means that all their sessions are revoked and they are not allowed to sign in again.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: Array of user IDs to ban
                  minItems: 1
                  maxItems: 50
      responses:
        '200':
          $ref: '#/components/responses/User.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/unban:
    post:
      operationId: UsersUnban
      x-speakeasy-group: users
      x-speakeasy-name-override: bulkUnban
      summary: Unban multiple users
      description: Removes the ban mark from multiple users.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: Array of user IDs to unban
                  minItems: 1
                  maxItems: 50
      responses:
        '200':
          $ref: '#/components/responses/User.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/{user_id}/lock:
    post:
      operationId: LockUser
      x-speakeasy-group: users
      x-speakeasy-name-override: lock
      summary: Lock a user
      description: |-
        Marks the given user as locked, which means they are not allowed to sign in again until the lock expires.
        Lock duration can be configured in the instance's restrictions settings.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to lock
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
  /users/{user_id}/unlock:
    post:
      operationId: UnlockUser
      x-speakeasy-group: users
      x-speakeasy-name-override: unlock
      summary: Unlock a user
      description: Removes the lock from the given user.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to unlock
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
  /users/{user_id}/profile_image:
    post:
      operationId: SetUserProfileImage
      x-speakeasy-group: users
      x-speakeasy-name-override: setProfileImage
      summary: Set user profile image
      description: Update a user's profile image
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to update the profile image for
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
    delete:
      operationId: DeleteUserProfileImage
      x-speakeasy-group: users
      x-speakeasy-name-override: deleteProfileImage
      summary: Delete user profile image
      description: Delete a user's profile image
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user to delete the profile image for
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '404':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/metadata:
    patch:
      operationId: UpdateUserMetadata
      x-speakeasy-group: users
      x-speakeasy-name-override: updateMetadata
      summary: Merge and update a user's metadata
      description: |-
        Update a user's metadata attributes by merging existing values with the provided parameters.

        This endpoint behaves differently than the *Update a user* endpoint.
        Metadata values will not be replaced entirely.
        Instead, a deep merge will be performed.
        Deep means that any nested JSON objects will be merged as well.

        You can remove metadata keys at any level by setting their value to `null`.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user whose metadata will be updated and merged
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                public_metadata:
                  type: object
                  additionalProperties: true
                  description: |-
                    Metadata saved on the user, that is visible to both your frontend and backend.
                    The new object will be merged with the existing value.
                private_metadata:
                  type: object
                  additionalProperties: true
                  description: |-
                    Metadata saved on the user that is only visible to your backend.
                    The new object will be merged with the existing value.
                unsafe_metadata:
                  type: object
                  additionalProperties: true
                  description: |-
                    Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.
                    The new object will be merged with the existing value.

                    Note: Since this data can be modified from the frontend, it is not guaranteed to be safe.
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}/billing/subscription:
    get:
      operationId: GetUserBillingSubscription
      x-speakeasy-group: users
      x-speakeasy-name-override: getBillingSubscription
      summary: Retrieve a user's billing subscription
      description: |-
        Retrieves the billing subscription for the specified user.
        This includes subscription details, active plans, billing information, and payment status.
        The subscription contains subscription items which represent the individual plans the user is subscribed to.
      tags:
        - Users
        - Billing
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: The ID of the user whose subscription to retrieve
      responses:
        '200':
          $ref: '#/components/responses/CommerceSubscription'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/billing/credits:
    get:
      operationId: GetUserBillingCreditBalance
      x-speakeasy-group: users
      x-speakeasy-name-override: getBillingCreditBalance
      summary: Retrieve a user's credit balance
      description: |-
        Retrieves the current credit balance for the specified user.
        Credits can be applied during checkout to reduce the charge or automatically applied to upcoming recurring charges
      tags:
        - Users
        - Billing
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: The ID of the user whose credit balance to retrieve
      responses:
        '200':
          $ref: '#/components/responses/CommerceCreditBalance'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ClerkErrors'
    post:
      operationId: AdjustUserBillingCreditBalance
      x-speakeasy-group: users
      x-speakeasy-name-override: adjustBillingCreditBalance
      summary: Adjust a user's credit balance
      description: |-
        Increases or decreases the credit balance for the specified user.
        Each adjustment is recorded as a ledger entry. The idempotency_key parameter
        ensures that duplicate requests are safely handled.
      tags:
        - Users
        - Billing
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: The ID of the user whose credit balance to adjust
      requestBody:
        description: Parameters for the credit balance adjustment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustCreditBalanceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CommerceCreditLedger'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/oauth_access_tokens/{provider}:
    get:
      operationId: GetOAuthAccessToken
      x-speakeasy-group: users
      x-speakeasy-name-override: getOAuthAccessToken
      summary: Retrieve the OAuth access token of a user
      description: |-
        Fetch the corresponding OAuth access token for a user that has previously authenticated with a particular OAuth provider.
        For OAuth 2.0, if the access token has expired and we have a corresponding refresh token, the access token will be refreshed transparently the new one will be returned.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user for which to retrieve the OAuth access token
          required: true
          schema:
            type: string
        - name: provider
          in: path
          description: The ID of the OAuth provider (e.g. `oauth_google`)
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Paginated'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/OAuthAccessToken'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}/organization_memberships:
    get:
      operationId: UsersGetOrganizationMemberships
      x-speakeasy-group: users
      x-speakeasy-name-override: getOrganizationMemberships
      summary: Retrieve all memberships for a user
      description: Retrieve a paginated list of the user's organization memberships
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: The ID of the user whose organization memberships we want to retrieve
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMemberships'
        '403':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/organization_invitations:
    get:
      operationId: UsersGetOrganizationInvitations
      x-speakeasy-group: users
      x-speakeasy-name-override: getOrganizationInvitations
      summary: Retrieve all invitations for a user
      description: Retrieve a paginated list of the user's organization invitations
      tags:
[...]
