name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}=${{ github.head_ref }}

jobs:
  ci:
    name: Build, Lint, Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node-version: ['20.19.0', '22.12.0']
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4.1.0

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          # cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build --filter="@hey-api/**"

      - name: Build examples
        if: matrix.node-version == '22.12.0' && matrix.os == 'ubuntu-latest'
        run: pnpm build --filter="@examples/**"

      - name: Run linter
        run: pnpm lint

      - name: Run type check
        run: pnpm typecheck

      - name: Run unit tests
        run: pnpm test

      - name: Run e2e tests
        run: pnpm test:e2e

      - name: Publish preview packages
        if: github.event_name == 'pull_request' && matrix.node-version == '22.12.0' && matrix.os == 'ubuntu-latest'
        run: ./scripts/publish-preview-packages.sh
        env:
          TURBO_SCM_BASE: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
