name: Update Contributors

on:
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq curl

      - name: Run update contributors script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x ./scripts/update-contributors.sh
          ./scripts/update-contributors.sh

      - name: Commit and push if updated
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add ./docs/partials/contributors-list.md
          git diff --cached --quiet || git commit -m "chore(docs): update contributors list"
          git push
