@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
